# <font color='#d50283'>IT Academy - Ciència de Dades (online)</font>
## Tasca M3 T02: 
### Exercicis amb Dataframes.
### Juan Javier Hidalgo Gómez

### <font color='#d50283'>- Exercici 1</font>
*Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.*

<font color='#FF0515'>*Airlines Delay: Airline on-time statistics and delay causes*</font> [Link](https://www.kaggle.com/giovamata/airlinedelaycauses).

***Important***

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

***Información relevante:***
    
<font color='#FF0515'>*DataSet Definición Airline 2008*</font> [Link](https://www.stat.purdue.edu/~lfindsen/stat350/airline2008_dataset_definition.pdf)

<font color='#FF0515'>*Información de retrasos*</font> [Link](https://aspm.faa.gov/aspmhelp/index/Types_of_Delay.html#NAS_Delay)

****Descripción de los campos del archivo:****

El archivo usado contiene la información sobre vuelos en el 2008. Descripción de los campos :

- ***Year:*** Año.
- ***Month:*** Mes.
- ***DayofMonth:*** Día del mes.
- ***DayOfWeek:*** 1 (Monday) - 7 (Sunday).
- ***DepTime:*** Hora de salida (local, hhmm).
- ***CRSDepTime:*** hora de salida programada (local, hhmm).
- ***AirTime:*** hora real de llegada (local, hhmm).
- ***CRSArrTime:*** hora de llegada prevista (local, hhmm).
- ***UniqueCarrier:*** código de operador único.
- ***FlightNum:*** Número de vuelo.
- ***TailNum:*** número de avión.
- ***ActualElapsedTime:*** Tiempo transcurrido real (en minutos).
- ***CRSElapsedTime:*** CRS Tiempo transcurrido de vuelo (tiempo transcurrido estimado), (en minutos).
- ***AirTime:*** tiempo de vuelo,(en minutos).
- ***ArrDelay:*** Diferencia en minutos entre la hora de llegada prevista y la real. Las llegadas anticipadas muestran números negativos, (en minutos).
- ***DepDelay:*** Diferencia en minutos entre la hora de salida prevista y la real. Las salidas anticipadas muestran números negativos., (en minutos).
- ***Origin:*** Origen del vuelo, código IATA de Aeropuertos.
- ***Dest:*** Destino del vuelo, código IATA de Aeropuertos.
- ***Distance:*** distancia en millas entre Aeropuertos.
- ***TaxiIn:*** Descenso de ruedas y llegada a la puerta del aeropuerto de destino, (en minutos).
- ***TaxiOut:*** El tiempo transcurrido entre la salida de la puerta del aeropuerto de origen y ruedas fuera (en minutos).
- ***Cancelled:*** se cancelo el vuelo?
- ***CancellationCode:*** Razones de cancelación (A = carrier, B = weather, C = NAS, D = security).
- ***Diverted:*** El avión ha sido desviado, 1 = yes, 0 = no.
- ***CarrierDelay:*** (en minutos).
- ***WeatherDelay:*** (en minutos).
- ***NASDelay:*** (en minutos).
- ***SecurityDelay:*** (en minutos).
- ***LateAircraftDelay:*** (en minutos).

#### Cargamos el DataSet:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#%matplotlib inline( ver las gráficas en el propio notebook)

data = pd.read_csv(r'C:\Users\Nitropc\DS_Sprint_03\Fuentes de Datos\DelayedFlights.csv')
# Diferentes formas de conocer el número de Filas del DataSet
#print(data.shape[0])
#print(len(data.index))
#print(len(data.axes[0]))
#si queremos conocer el numero de filas x columnas
#print(data.size)
print('Resultado:\n ')
print(f'Total de Registros {data.shape[0]}, Total de Columnas {data.shape[1]}.')

Resultado:

Total de Registros 1936758, Total de Columnas 30.

In [2]:
#data.isna().sum().sort_values(ascending = False)
data.duplicated().sum()

0

***1.1 Comprobación de las diferentes características presentes en el conjunto de datos y su forma, también comprobamos el tipo de datos de cada columna.***

In [3]:
# Utilizamos el atributo T Transponer para ver todas las columnas.
# las primeros 5 registros.
# Realizamos lo mismo para los 5 últimos
# data.tail().T
data.head().T

                        0       1       2       3       4
Unnamed: 0              0       1       2       4       5
Year                 2008    2008    2008    2008    2008
Month                   1       1       1       1       1
DayofMonth              3       3       3       3       3
DayOfWeek               4       4       4       4       4
DepTime            2003.0   754.0   628.0  1829.0  1940.0
CRSDepTime           1955     735     620    1755    1915
ArrTime            2211.0  1002.0   804.0  1959.0  2121.0
CRSArrTime           2225    1000     750    1925    2110
UniqueCarrier          WN      WN      WN      WN      WN
FlightNum             335    3231     448    3920     378
TailNum            N712SW  N772SW  N428WN  N464WN  N726SW
ActualElapsedTime   128.0   128.0    96.0    90.0   101.0
CRSElapsedTime      150.0   145.0    90.0    90.0   115.0
AirTime             116.0   113.0    76.0    77.0    87.0
ArrDelay            -14.0     2.0    14.0    34.0    11.0
DepDelay              8.0    19.0     8.0    34.0    25.0
Origin                IAD     IAD     IND     IND     IND
Dest                  TPA     TPA     BWI     BWI     JAX
Distance              810     810     515     515     688
TaxiIn                4.0     5.0     3.0     3.0     4.0
TaxiOut               8.0    10.0    17.0    10.0    10.0
Cancelled               0       0       0       0       0
CancellationCode        N       N       N       N       N
Diverted                0       0       0       0       0
CarrierDelay          NaN     NaN     NaN     2.0     NaN
WeatherDelay          NaN     NaN     NaN     0.0     NaN
NASDelay              NaN     NaN     NaN     0.0     NaN
SecurityDelay         NaN     NaN     NaN     0.0     NaN
LateAircraftDelay     NaN     NaN     NaN    32.0     NaN

In [4]:
#Comprobación del tipo de datos de cada columna 
#data.columns 
#la siguiente función nos permite ver algo más de información
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

***1.2 Estudio del contenido del DataSet***

****1.2.1 Eliminamos Registros del DataSet:****

Eliminamos los regitros dependiendo de la casuística descrita en el código
antes de reducir el DataSet.

In [5]:
# Número de registros del dataSet antes de eliminar.
treg=len(data)
print('Resultado:\n ')
# eliminamos Filas con datos nulos
data.dropna(how='all')
if (treg==len(data)): 
    print('No tiene Filas Nulas.')
else:
    print(f'Total Filas nulas es: {treg-len(data)}.')
    
treg=len(data)

# eliminamos Filas duplicadas
data.drop_duplicates()

if treg==len(data): 
    print('No tiene Duplicados.')
else:
    print(f'Total de duplicados eliminados es: {treg-len(data)}.')

treg=len(data)

# En el pto del ejercicio  2.1 resumen estadístico para el campo AirTime el mínimo 
# es igual a 0. Volvemos a este pto. para eliminar estos registros

data.drop(data[data['AirTime']==0].index, inplace= True)

if treg==len(data): 
    print('No tiene vuelos realizados con AirTime=0')
else:
    print(f'Número Filas eliminadas con AirTime=0 son: {treg-len(data)}.')

Resultado:

No tiene Filas Nulas.
No tiene Duplicados.
Número Filas eliminadas con AirTime=0 son: 7.

**NOTA**

***En el análisis de este fichero, estamos volviendo en ocaciones al principio del punto 1.2.1 (Eliminar registros), cada vez que podemos ajustar y/o mejorar el comportamiento del fichero.***

****1.2.2 Reducir el DataSet:****
    
En este estudio nos piden reducir a 200000 registros, haremos este paso antes del estudio de null.

In [6]:
# Reducimos el Dataset a 200000 registros y reset al index
airlines=data.sample(n=200000, frac=None, replace=False, weights=None).reset_index(drop = True)

#Aunque ya conocemos el número de registros, ampliamos la información
#con las columnas que tiene nuestro DataSet
print('Resultado:\n ')
print(f'Total de Registros: {airlines.shape[0]}')

Resultado:

Total de Registros: 200000

****1.2.3 Creación y Eliminación de Variables:****

Se crea una columna nueva con la fecha y posteriormente eliminamos las tres columnas de Year, Month, Dayofmonth, el DayofWeek lo modificamos, pero lo dejamos para observar en las muestra que ¿día de la semana puede tener más retrasos?

In [7]:
DiaSemana = {1:'Lunes',2:'Martes',3:'Miércoles',4:'Jueves',5:'Viernes',6:'Sábado',7:'Domingo'}
airlines['DayOfWeek'] = airlines['DayOfWeek'].map(DiaSemana)
#Una forma de crear la variable, pero se va al final del dataframe
#airlines['Date']=airlines['DayofMonth'].astype('str')+'/'+airlines['Month'].astype('str')+'/'+airlines['Year'].astype('str')
airlines.insert(0,'Date',airlines['DayofMonth'].astype('str')+'/'+airlines['Month'].astype('str')+'/'+airlines['Year'].astype('str'))
airlines['Ruta']=airlines['Origin']+'-'+airlines['Origin']

#Observar el contenido del campo ()
#airlines['Date'].unique()

airlines['Date'] = airlines['Date'].apply(lambda x: x.split(' ')[0])
airlines['Date'] = pd.to_datetime(airlines['Date'], format='%d/%m/%Y')#dayfirst=True)

#El tiempo total desde el rodaje por pista salida/llegada + en el aire.
airlines['TiempoTotal']=airlines['AirTime']+airlines['TaxiIn']+airlines['TaxiOut']
airlines['TaxiTotal']=airlines['TaxiIn']+airlines['TaxiOut']

# Eliminamos los campos de fecha

airlines.drop(['Unnamed: 0','DayofMonth', 'Month','Year'], axis = 'columns', inplace=True)

In [8]:
# Tenemos informacion de los valores y el tipo de las diferentes variables, podemos observar
# que tenemos variables con valores Nulos
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               200000 non-null  datetime64[ns]
 1   DayOfWeek          200000 non-null  object
 2   DepTime            200000 non-null  float64
 3   CRSDepTime         200000 non-null  int64
 4   ArrTime            199268 non-null  float64
 5   CRSArrTime         200000 non-null  int64
 6   UniqueCarrier      200000 non-null  object
 7   FlightNum          200000 non-null  int64
 8   TailNum            200000 non-null  object
 9   ActualElapsedTime  199138 non-null  float64
 10  CRSElapsedTime     199982 non-null  float64
 11  AirTime            199138 non-null  float64
 12  ArrDelay           199138 non-null  float64
 13  DepDelay           200000 non-null  float64
 14  Origin             200000 non-null  object
 15  Dest               200000 non-null  object
 16  Distance           200000 non-null  int64
 17  TaxiIn             199268 non-null  float64
 18  TaxiOut            199954 non-null  float64
 19  Cancelled          200000 non-null  int64
 20  CancellationCode   200000 non-null  object
 21  Diverted           200000 non-null  int64
 22  CarrierDelay       129019 non-null  float64
 23  WeatherDelay       129019 non-null  float64
 24  NASDelay           129019 non-null  float64
 25  SecurityDelay      129019 non-null  float64
 26  LateAircraftDelay  129019 non-null  float64
 27  Ruta               200000 non-null  object
 28  TiempoTotal        199138 non-null  float64
 29  TaxiTotal          199268 non-null  float64
dtypes: datetime64[ns](1), float64(16), int64(6), object(7)
memory usage: 45.8+ MB

In [9]:
airlines.head()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Ruta,TiempoTotal,TaxiTotal
0,2008-06-06,Viernes,1201.0,1155,1302.0,1305,WN,2629,N765SW,61.0,...,N,0,NaN,NaN,NaN,NaN,NaN,BHM-BHM,61.0,10.0
1,2008-06-25,Miércoles,1923.0,1729,2335.0,2122,UA,17,N557UA,432.0,...,N,0,0.0,0.0,133.0,0.0,0.0,JFK-JFK,432.0,46.0
2,2008-07-09,Miércoles,610.0,600,908.0,832,DL,806,N904DE,118.0,...,N,0,10.0,0.0,26.0,0.0,0.0,LIT-LIT,118.0,23.0
3,2008-01-27,Domingo,2242.0,2035,2347.0,2150,WN,735,N404WN,65.0,...,N,0,40.0,0.0,0.0,0.0,77.0,BWI-BWI,65.0,13.0
4,2008-05-11,Domingo,1744.0,1440,119.0,2248,UA,292,N596UA,275.0,...,N,0,0.0,0.0,0.0,0.0,151.0,SFO-SFO,275.0,23.0

### <font color='#d50283'>- Exercici 2</font>
*Fes un informe complet del dataset:*

- 2.1 Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
- 2.2 Troba quantes dades faltants hi ha per columna.
- 2.3 Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
- 2.4 es una taula de les aerolínies amb més endarreriments acumulats.
- 2.5 Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
- 2.6 Aporta allò que consideris rellevant.

***2.1 Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.***

In [10]:
airlines[['ActualElapsedTime', 'CRSElapsedTime', 'AirTime','ArrDelay', 'DepDelay', 'Distance']].describe().round(2)

,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance
count,199138.00,199982.00,199138.00,199138.00,200000.00,200000.00
mean,133.24,134.25,108.27,42.31,43.34,765.74
std,71.88,71.21,68.52,57.44,54.14,574.29
min,16.00,-12.00,1.00,-52.00,6.00,31.00
25%,80.00,82.00,58.00,9.00,12.00,338.00
50%,116.00,116.00,90.00,25.00,24.00,607.00
75%,165.00,165.00,137.00,56.00,54.00,998.00
max,750.00,660.00,733.00,2453.00,2467.00,4962.00

In [11]:
# utilizo print para documentar los datos estadísticos, cambia de valores con
# con las modificaciones que voy haciendo, con los diferentes análisis del fichero.

print("\x1b[1;50m"+"Datos estadístico:\n") 

print("\x1b[1;60m"+"Variable AirTime\n")

print("- Tiempo medio de vuelo:",round(airlines['AirTime'].mean(),2),"minutos")
print("- Desviación estándar:",round(airlines['AirTime'].std(),2),"los datos no están muy dispersos.")
print("- El 50% de los vuelos tiene una duración de",round(airlines['AirTime'].quantile(0.5),2),"minutos.")
print("- El valor mínimo de vuelo es igual a",round(airlines['AirTime'].min(),2),"tenemos que analizar más a fondo está variable.")

print("\nVariable Arrdelay\n")
print("- La media de retraso en la hora de llegada son",round(airlines['ArrDelay'].mean(),2),"minutos")
print("- Desviación estándar:",round(airlines['ArrDelay'].std(),2),"tiene valores extremos.")

print("\nVariable Distance\n")

print("- La distancia media que recorren los vuelos es de",round(airlines['Distance'].mean(),2),"millas")
print("- La distancia del 50% de los vuelos es de",round(airlines['AirTime'].quantile(0.5),2),"millas.")

Datos estadístico:

Variable AirTime

- Tiempo medio de vuelo: 108.27 minutos
- Desviación estándar: 68.52 los datos no están muy dispersos.
- El 50% de los vuelos tiene una duración de 90.0 minutos.
- El valor mínimo de vuelo es igual a 1.0 tenemos que analizar más a fondo está variable.

Variable Arrdelay

- La media de retraso en la hora de llegada son 42.31 minutos
- Desviación estándar: 57.44 tiene valores extremos.

Variable Distance

- La distancia media que recorren los vuelos es de 765.74 millas
- La distancia del 50% de los vuelos es de 90.0 millas.

In [12]:
# AirTime=0 lo hemos ajustado en el pto. 1.2.1 del ejercicio
# AirTime tiene valores con un recorrido muy alto y tiempo 1, que no me parecen correctos.

df_errores=airlines[airlines['AirTime']<=10]

df_errores[['AirTime','Distance']]

        AirTime  Distance
8053        9.0        31
13353       9.0        31
15694       1.0       932
20004       9.0        31
21176       8.0       102
29064       6.0       298
36514       5.0       496
44861       9.0        31
54967       9.0        31
57040       5.0       189
71379       2.0       490
72442      10.0        31
82865      10.0        64
88303      10.0       216
99840       4.0       120
108819      8.0        31
119234     10.0        31
141027      6.0       163
151118      7.0       102
161430      8.0        31
162908      2.0       328
163135     10.0        31
169395     10.0       123
183888      9.0        31
185985      9.0        31

***2.2 Troba quantes dades faltants hi ha per columna.***

In [13]:
# Estudio de las Columnas
# Valores nulos
# Observamos que sobre el total de filas (200000), tenemos una serie de columnas
# que el nivel de nulos es muy alto (71092), podemos eliminar las mismas si superan
# un %, pensando que dicha columna no aportará nada al estudio

# selecionamos las columna del estudio isnull
columnas=airlines.select_dtypes(include=['float64'])
round(columnas.isnull().sum()*100/len(airlines.index),1)

DepTime               0.0
ArrTime               0.4
ActualElapsedTime     0.4
CRSElapsedTime        0.0
AirTime               0.4
ArrDelay              0.4
DepDelay              0.0
TaxiIn                0.4
TaxiOut               0.0
CarrierDelay         35.5
WeatherDelay         35.5
NASDelay             35.5
SecurityDelay        35.5
LateAircraftDelay    35.5
TiempoTotal           0.4
TaxiTotal             0.4
dtype: float64

***Nota***

- CarrierDelay         35.6%
- WeatherDelay         35.6%
- NASDelay             35.6%
- SecurityDelay        35.6%
- LateAircraftDelay    35.6%

EDA ("Exploratory Data Analysis", Análisis exploratorio de datos). 
En el estudio de columnas, cuando tenemos un porcentaje superior a 15% de valores nulos 
en una columna, la información de dicha columna puede dejar de tener valor.
En nuestro caso podemos eliminar las 5 que tenemos arriba que superan en 35% de 
valores nulo.

En nuestro caso además el valor de esas columnas lo podemos obtener de otros campos.

In [14]:
# Eliminamos los campos >35%

airlines.drop(['CarrierDelay','WeatherDelay', 'NASDelay','SecurityDelay','LateAircraftDelay'], axis = 'columns', inplace=True)
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               200000 non-null  datetime64[ns]
 1   DayOfWeek          200000 non-null  object
 2   DepTime            200000 non-null  float64
 3   CRSDepTime         200000 non-null  int64
 4   ArrTime            199268 non-null  float64
 5   CRSArrTime         200000 non-null  int64
 6   UniqueCarrier      200000 non-null  object
 7   FlightNum          200000 non-null  int64
 8   TailNum            200000 non-null  object
 9   ActualElapsedTime  199138 non-null  float64
 10  CRSElapsedTime     199982 non-null  float64
 11  AirTime            199138 non-null  float64
 12  ArrDelay           199138 non-null  float64
 13  DepDelay           200000 non-null  float64
 14  Origin             200000 non-null  object
 15  Dest               200000 non-null  object
 16  Distance           200000 non-null  int64
 17  TaxiIn             199268 non-null  float64
 18  TaxiOut            199954 non-null  float64
 19  Cancelled          200000 non-null  int64
 20  CancellationCode   200000 non-null  object
 21  Diverted           200000 non-null  int64
 22  Ruta               200000 non-null  object
 23  TiempoTotal        199138 non-null  float64
 24  TaxiTotal          199268 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(6), object(7)
memory usage: 38.1+ MB

***2.3 Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).***

In [15]:
# Fórmula de velocidad media = distancia / Tiempo
# No tenemos en cuenta el tiempo en rodajeen tierra TaxiIn/Out
# Creamos la columna VelocidadMedia
# unidad millas/minutos

airlines['VelocidadMedia']=airlines['Distance']/(airlines['AirTime'])

airlines.head()

#Otro punto para estudiar
#print(f'- Velocidad máxima: {airlines["VelocidadMedia"].max()}')

# Creamos la columna Retraso
# Utilizamos el estado booleano si es Delay = True, si no False
airlines['Retraso'] =(airlines['ArrDelay'] > 0) | (airlines['DepDelay'] > 0)
airlines.head()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Ruta,TiempoTotal,TaxiTotal,VelocidadMedia,Retraso
0,2008-06-06,Viernes,1201.0,1155,1302.0,1305,WN,2629,N765SW,61.0,...,3.0,7.0,0,N,0,BHM-BHM,61.0,10.0,6.294118,True
1,2008-06-25,Miércoles,1923.0,1729,2335.0,2122,UA,17,N557UA,432.0,...,11.0,35.0,0,N,0,JFK-JFK,432.0,46.0,6.699482,True
2,2008-07-09,Miércoles,610.0,600,908.0,832,DL,806,N904DE,118.0,...,13.0,10.0,0,N,0,LIT-LIT,118.0,23.0,4.768421,True
3,2008-01-27,Domingo,2242.0,2035,2347.0,2150,WN,735,N404WN,65.0,...,6.0,7.0,0,N,0,BWI-BWI,65.0,13.0,6.038462,True
4,2008-05-11,Domingo,1744.0,1440,119.0,2248,UA,292,N596UA,275.0,...,5.0,18.0,0,N,0,SFO-SFO,275.0,23.0,9.702381,True

***2.4 Es una taula de les aerolínies amb més endarreriments acumulats.***

In [19]:
# Aerolíneas con más retrazos:
print('Aerolíneas con más retrazos: ')
retrasos=airlines[airlines['Retraso']==True]
#airlines["UniqueCarrier"].value_counts("Retraso"==True)[:10]
retrasos['UniqueCarrier'].value_counts()[:10]

Aerolíneas con más retrazos:

WN    39132
AA    20113
MQ    14654
UA    14585
OO    13728
DL    11743
XE    10719
CO    10239
US    10178
EV     8372
Name: UniqueCarrier, dtype: int64

***2.5 Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.***

In [20]:
# Los vuelos Top 5 más largas en Duración de tiempo:
print('Los vuelos Top 5 más largas en Duración de tiempo: ')
airlines.groupby(by = "TailNum")["TiempoTotal"].max().sort_values(ascending=False).head(5)

Los vuelos Top 5 más largas en Duración de tiempo:

TailNum
N597HA    750.0
N374AA    727.0
N59053    683.0
N67052    667.0
N67058    662.0
Name: TiempoTotal, dtype: float64

In [21]:
# Los vuelos Top 5 más cortos en Duración de tiempo:
print('Los vuelos Top 5 más cortos en Duración de tiempo: ')
airlines.groupby(by = "TailNum")["TiempoTotal"].max().sort_values(ascending=True).head(5)

Los vuelos Top 5 más cortos en Duración de tiempo:

TailNum
N826AL    32.0
N843AL    39.0
N823AL    39.0
N808AL    40.0
N824AL    45.0
Name: TiempoTotal, dtype: float64

In [22]:
# Las Rutas Top 5 más largas:
print('Los vuelos Top 5 más largas en Duración de tiempo: ')
airlines.groupby(by = "Ruta")["Distance"].max().sort_values(ascending=False).head(5)

Los vuelos Top 5 más largas en Duración de tiempo:

Ruta
EWR-EWR    4962
HNL-HNL    4962
ATL-ATL    4502
ORD-ORD    4243
KOA-KOA    4213
Name: Distance, dtype: int64

In [30]:
# Las Rutas Top 10 con más retrasos:
print('Las Rutas Top 10 con más retrasos: ')
retrasos=airlines[airlines['Retraso']==True]
retrasos["Ruta"].value_counts()[:10]

Las Rutas Top 10 con más retrasos:

ATL-ATL    13485
ORD-ORD    12991
DFW-DFW     9918
DEN-DEN     7755
LAX-LAX     6046
IAH-IAH     5795
PHX-PHX     5734
LAS-LAS     5464
EWR-EWR     5451
SFO-SFO     4481
Name: Ruta, dtype: int64

***2.6 Aporta allò que consideris rellevant.***

***2.6.1 Días de la semana donde tenemos más retrasos***

In [31]:
# Días de la semana donde tenemos más retrasos:
print('Las Rutas Top 10 con más retrasos: ')
retrasos=airlines[airlines['Retraso']==True]
retrasos["DayOfWeek"].value_counts()

# Se puede ver que los dias con más problemas Viernes,Jueves, Domingo 
# y lunes,días de comienzo y fin de semana laboral y el principio y fin del 
# fin de semana.

Las Rutas Top 10 con más retrasos:

Viernes      33329
Lunes        30218
Jueves       29818
Domingo      29603
Miércoles    27036
Martes       26885
Sábado       23111
Name: DayOfWeek, dtype: int64

***Los días con más retrasos, podemos hacer algunas lecturas:***
- Viernes, empieza el fin de semana.
- Lunes, Primer día laboral.
- Jueves, fin semana laboral.
- Domingo, vuelta fin de semana.

***2.6.2 Origenes o/y Destinos con más tiempo de rodaje en pista***

In [25]:
# Rodaje en pista, 
#.apply(lambda x: x.split(' ')[0]
Salidas=airlines.groupby(by = "Origin")['TaxiIn'].max().sort_values(ascending=False).head(5)
Llegadas=airlines.groupby(by = "Dest")['TaxiOut'].max().sort_values(ascending=False).head(5)

print('Aeropuertos con más Tiempo de Rodaje en pista:\n ')
print(f'Rodaje en Salida:\n{Salidas}\n ')
print(f'Rodaje en Llegadas:\n{Llegadas} ')

Aeropuertos con más Tiempo de Rodaje en pista:

Rodaje en Salida:
Origin
LAS    200.0
SAV    197.0
MFE    186.0
MEM    176.0
BUR    163.0
Name: TaxiIn, dtype: float64

Rodaje en Llegadas:
Dest
PBI    370.0
RSW    362.0
LAX    325.0
JAN    322.0
ROC    280.0
Name: TaxiOut, dtype: float64

***2.6.3 Aeropuertos con más retrasos en Salida/Llegadas:***

In [32]:
retrasos=airlines[airlines['Retraso']==True]

retrasos["Origin"].value_counts()[:10]
print('Aeropuertos con más retrasos en Salida:\n ')
print(f'Retrasos en Salida:\n{retrasos["Origin"].value_counts()[:10]}\n ')
print(f'Retrasos en Llegadas:\n{retrasos["Dest"].value_counts()[:10]}\n ')

Aeropuertos con más retrasos en Salida:

Retrasos en Salida:
ATL    13485
ORD    12991
DFW     9918
DEN     7755
LAX     6046
IAH     5795
PHX     5734
LAS     5464
EWR     5451
SFO     4481
Name: Origin, dtype: int64

Retrasos en Llegadas:
ORD    11112
ATL    10976
DFW     7482
DEN     6331
LAX     6098
EWR     5822
LAS     5024
PHX     5008
SFO     4843
IAH     4511
Name: Dest, dtype: int64

***2.6.4 Compañias Aereas que más/menos vuelos Cancelan:***

In [27]:
Mas=airlines.groupby(by = "UniqueCarrier")['Cancelled'].sum().sort_values(ascending=False).head(5)
Llegadas

print('Compañias que cancelan vuelos:\n ')
print(f'Compañias que más cancelan:\n{airlines.groupby(by = "UniqueCarrier")["Cancelled"].sum().sort_values(ascending=False).head(5)}\n')
print(f'Compañias que menos cancelan:\n{airlines.groupby(by = "UniqueCarrier")["Cancelled"].sum().sort_values(ascending=True).head(5)}\n')

Compañias que cancelan vuelos:

Compañias que más cancelan:
UniqueCarrier
OO    11
9E    10
MQ     8
XE     6
CO     5
Name: Cancelled, dtype: int64

Compañias que menos cancelan:
UniqueCarrier
AQ    0
AS    0
F9    0
HA    0
NW    0
Name: Cancelled, dtype: int64

***Conclusiones***

Podriamos seguir analizando los diferentes campos, vuelos cancelados y la razon de
cancelación, si el avión ha sido desviado, etc...

Más información de utilidad, si queremos dar nombre a los aeropuertos o Compañias Aereas.

<font color='#FF0515'>*Información de Aeropuertos, Compañias Aereas*</font> [Link](https://openflights.org/data.html)

### <font color='#d50283'>- Exercici 3</font>
*Exporta el dataset net i amb les noves columnes a Excel.*

In [33]:
airlines.to_excel("TascaM3T02_Retrasos.xlsx",
            sheet_name = 'Datos')